dj-database-url==0.5.0
django-cachalot==2.5.0
django-configurations==2.3.1
django-extensions==3.1.5
django-taggit==1.5.1
django==3.2.11
djangorestframework-simplejwt==5.0.0
djangorestframework==3.13.1
graphene-django-optimizer==0.8.0
graphene-django==2.15.0
graphene==2.1.9
psycopg2-binary==2.9.3
django-debug-toolbar==3.2.2
black
pre-commit
ipython
